<div class="grafico-temp">
    <canvas id="temp"></canvas>
</div>
<div class="grafico-hum">
    <canvas id="hum"></canvas>
</div>
<link rel="stylesheet" href="/css/index.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/index.js"></script>